@font-face {
  font-family: 'Gotham Pro';
  src: url("./fonts/GothamPro.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("./fonts/GothamPro-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 1024px;
  margin: 0;
  padding: 0;
  font-family: "Gotham Pro", Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  background-color: #000000;
  overflow-y: hidden;
}

a:focus {
  outline: none;
}
